@media screen and (max-width: 620px){
    .search input{
        width: 384px;
    }
    .card__container{
        height: 150px;
    }
}

@media screen and (max-width: 420px){
    .search input{
        width: 284px;
    }
    .main__references p{
        font-size: 13px;
    }
}

@media screen and (max-width: 320px){
    .search input{
        width: 200px;
    }
    .main__references p{
        font-size: 11px;
    }
}
